apiVersion: mlflow.opendatahub.io/v1
kind: MLflow
metadata:
  name: mlflow
  namespace: {{ mlflow_namespace }}
spec:
  storage:
    accessModes:
      - ReadWriteOnce
    resources:
      requests:
        storage: {{ mlflow_storage_size }}
  backendStoreUri: "sqlite:////mlflow/mlflow.db"
  artifactsDestination: "file:///mlflow/artifacts"
  serveArtifacts: true
